.header__game {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c0b7e8;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  color: #c0b7e8;
}
@media screen and (max-width: 960px) {
  .header__game {
    display: none;
  }
}
.game-page {
  width: 100%;
}
.game-page__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 960px) {
  .game-page__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .game-page__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
  }
}
.game-page__wrapper h2 {
  text-align: center;
  font-size: clamp(30px, 5vw, 50px);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(91.57deg, #c0b7e8 50%, #8176af 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.game-page__catalog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
  gap: 50px 20px;
}
@media screen and (max-width: 1200px) {
  .game-page__catalog {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 960px) {
  .game-page__catalog {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 767px) {
  .game-page__catalog {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    gap: 10px;
  }
}
.game-page__item {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  position: relative;
  border: 0.5px solid #8176af;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .game-page__item {
    width: 270px;
    height: 340px;
    margin: 0 auto;
  }
}
.game-page__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.game-page__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 10;
  margin-top: auto;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 0 0 5px 5px;
}
.game-page__name {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.game-page__price {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
/*game-info*/
.game-info {
  width: 100%;
}
.game-info__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid #8176af;
  position: relative;
}
@media screen and (max-width: 960px) {
  .game-info__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .game-info__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
  }
}
.game-info__text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1100px) {
  .game-info__text {
    gap: 30px;
  }
}
.game-info__wrapper h2 {
  font-size: clamp(25px, 5vw, 40px);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(91.57deg, #c0b7e8 50%, #8176af 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.game-info__wrapper p {
  color: #ffffff;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  max-width: 800px;
  width: 100%;
  font-style: oblique;
}
@media screen and (max-width: 1200px) {
  .game-info__wrapper p {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 767px) {
  .game-info__wrapper p {
    font-size: 18px;
    line-height: 25px;
  }
}
.game-info__image {
  width: 500px;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .game-info__image {
    width: 400px;
  }
}
@media screen and (max-width: 960px) {
  .game-info__image {
    display: none;
  }
}
/*cheath-overlay*/
.cheath-overlay {
  display: none;
}
.cheath-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    50% 2900.76% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.cheath-overlay__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80dvw;
  height: 80dvh;
  background: #c0b7e8;
  padding: 20px 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .cheath-overlay__wrapper {
    width: 90dvw;
    height: 90dvh;
  }
}
@media screen and (max-width: 767px) {
  .cheath-overlay__wrapper {
    padding: 20px 5px;
  }
}
.cheath-overlay__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: auto;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .cheath-overlay__inner {
    gap: 30px;
  }
}
.cheath-overlay__close {
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  top: 0;
  right: 10px;
  cursor: pointer;
  background: transparent;
}
@media screen and (max-width: 767px) {
  .cheath-overlay__close {
    font-size: 20px;
    line-height: 20px;
  }
}
.cheath-overlay__galery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 10px;
}
@media screen and (max-width: 1200px) {
  .cheath-overlay__galery {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 767px) {
  .cheath-overlay__galery {
    gap: 5px;
  }
}
.cheath-overlay__item {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .cheath-overlay__item {
    width: 100%;
    height: 100%;
  }
}
.cheath-overlay__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.cheath-overlay__cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .cheath-overlay__cont {
    gap: 15px;
  }
}
.cheath-overlay__cont h2 {
  font-size: clamp(25px, 5vw, 40px);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  background: radial-gradient(
    50% 2900.76% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/*accordion*/
.acor-container {
  width: 100%;
}
.acor-container .acor-body {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  line-height: 18px;
  padding: 0 30px;
  box-sizing: border-box;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
}
.acor-container .acor-body p {
  margin: 0 0 10px;
}
.acor-container label {
  cursor: pointer;
  background: #302c42;
  display: block;
  padding: 15px 20px;
  width: 100%;
  color: #c0b7e8;
  font-weight: 300;
  box-sizing: border-box;
  z-index: 100;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  margin: 0 0 5px;
  transition: color 0.35s;
}
.acor-container label:hover {
  color: #fff;
}
.acor-container input {
  display: none;
}
.acor-container label:before {
  content: "\276F";
  float: right;
}
.acor-container input:checked + label {
  background: rgba(0, 0, 0);
  color: #fff;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}
.acor-container input:checked + label:before {
  transition: transform 0.35s;
  transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
  height: auto;
  margin-top: -5px;
  color: #000;
  padding: 20px 30px 10px;
}
