.header__game {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c0b7e8;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  color: #c0b7e8;
}
@media screen and (max-width: 960px) {
  .header__game {
    display: none;
  }
}
.game-page {
  width: 100%;
}
.game-page__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 960px) {
  .game-page__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .game-page__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
  }
}
.game-page__wrapper h2 {
  text-align: center;
  font-size: clamp(30px, 5vw, 50px);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(91.57deg, #c0b7e8 50%, #8176af 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.game-page__catalog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
  gap: 20px 10px;
}
@media screen and (max-width: 1200px) {
  .game-page__catalog {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 960px) {
  .game-page__catalog {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 767px) {
  .game-page__catalog {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }
}
.game-page__item {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  position: relative;
  border: 0.5px solid #8176af;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .game-page__item {
    width: 270px;
    height: 340px;
    margin: 0 auto;
  }
}
.game-page__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.game-page__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 10;
  margin-top: auto;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 0 0 5px 5px;
}
.game-page__name {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.game-page__price {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
/*game-info*/
.game-info {
  width: 100%;
}
.game-info__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 80px;
  border-top: 0.5px solid #8176af;
}
@media screen and (max-width: 960px) {
  .game-info__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .game-info__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
  }
}
.game-info__wrapper h2 {
  font-size: clamp(30px, 5vw, 50px);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(91.57deg, #c0b7e8 50%, #8176af 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.game-info__wrapper p {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.5px;
  max-width: 652px;
  width: 100%;
  text-align: justify;
}
