* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  /* background: #302c42; */
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
}
.page__content {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.body.lock {
  overflow: hidden;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*header*/
.header {
  width: 100%;
  box-shadow: 0px 4px 4px 0px #c0b7e803;
  background: radial-gradient(
    50% 2900.76% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  z-index: 999;
}
.header__logo {
  font-weight: 900;
  font-size: 45px;
  text-transform: uppercase;
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media screen and (max-width: 1200px) {
  .header__logo {
    font-size: 35px;
  }
}

.header__logo span {
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  color: transparent;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .header__wrapper {
    padding: 25px 0;
  }
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    padding: 15px 0;
  }
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  .header__nav ul {
    gap: 30px;
  }
}
@media screen and (max-width: 960px) {
  .header__nav ul {
    display: none;
  }
}
.header__nav ul li a {
  color: #c0b7e8;
  font-weight: 500;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1200px) {
  .header__nav ul li a {
    font-size: 18px;
  }
}
.header__nav ul li > :hover {
  background: linear-gradient(90deg, #8176af 0%, #8b84aa 50%, #8176af 100%);
  color: #fff;
}
.header__search {
  display: flex;
  align-items: center;
}
.header__search input {
  border: 1px solid #c0b7e8;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}
.header__search input::placeholder {
  font-style: italic;
  color: #c0b7e8;
}
input:focus::placeholder {
  color: transparent;
}
.header__button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c0b7e8;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-style: italic;
  color: #c0b7e8;
  transition: all 0.3s ease;
}
@media screen and (max-width: 960px) {
  .header__button {
    display: none;
  }
}
.header__button:hover {
  opacity: 0.7;
}
/* Стили для попапа поиска */
.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.search-popup.active {
  visibility: visible;
}
/*header__burger*/
.header__burger {
  display: none;
}
@media screen and (max-width: 960px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
}
@media screen and (max-width: 960px) {
  .header__burger:before {
    content: "";
    background: linear-gradient(90deg, #c0b7e8 -11.84%, #8176af 100%);
    border-radius: 40px;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 960px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 960px) {
  .header__burger:after {
    content: "";
    background: linear-gradient(90deg, #c0b7e8 -11.84%, #8176af 100%);
    border-radius: 40px;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 960px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 960px) {
  .header__burger span {
    content: "";
    background: linear-gradient(90deg, #c0b7e8 -11.84%, #8176af 100%);
    border-radius: 40px;
    position: absolute;
    width: 70%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 960px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
/*mobile-menu*/
.mobile-menu {
  width: 0;
  height: calc(100dvh - 85px);
  position: absolute;
  top: 85px;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    top: 65px;
    height: calc(100dvh - 65px);
  }
}
@media screen and (max-width: 960px) {
  .mobile-menu.active {
    width: 100%;
  }
}
.mobile-menu__wrapper {
  width: 80%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
.mobile-menu__wrapper svg {
  position: absolute;
  top: 50px;
  right: 50px;
}
.mobile-menu__nav ul {
  display: flex;
  flex-direction: column;
}
.mobile-menu__nav ul li a {
  color: #0d091e;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
}
.mobile-menu__nav ul li {
  padding: 20px;
}
/*promo*/
.promo {
  width: 100%;
}
.promo__wrapper {
  max-width: 1440px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: calc(113 / 1440 * 100vw);
  padding-bottom: calc(113 / 1440 * 100vw);
  height: calc(100dvh - 145px);
}
@media screen and (max-width: 1280px) {
  .promo__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .promo__wrapper {
    height: unset;
    margin-top: 70px;
  }
}
.promo__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
}
.promo__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}
.promo__text h1 {
  color: #fff;
  text-align: center;
  font-size: clamp(48px, 5vw, 80px);
  font-style: normal;
  font-weight: 800;
  line-height: 134%;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .promo__text h1 {
    font-size: 28px;
  }
}
.promo__text h1 span {
  background: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.promo__text p {
  color: #fff;
  text-align: center;
  font-size: clamp(14px, 5vw, 20px);
  max-width: 60%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .promo__text p {
    max-width: 100%;
    font-size: 15px;
  }
}
.promo__buttons {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto 50px;
}
@media screen and (max-width: 767px) {
  .promo__buttons {
    flex-direction: column;
    gap: 30px;
    margin: 50px auto;
  }
}
.promo__butt {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  font-weight: 700;
  color: #343045;
  animation: pulse 2s infinite;
}
@media screen and (max-width: 767px) {
  .promo__butt {
    width: 90%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(129, 118, 175, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 15px rgba(129, 118, 175, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(129, 118, 175, 0);
  }
}
/*catalog*/
.catalog {
  width: 100%;
}
.catalog__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 80px;
  border-top: 0.5px solid #8176af;
}
@media screen and (max-width: 960px) {
  .catalog__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .catalog__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
  }
}
.section-title {
  color: #fff;
  text-align: center;
  font-size: clamp(30px, 5vw, 50px);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.catalog__swiper {
  display: none;
}
/*catalog__swiper*/
@media screen and (max-width: 767px) {
  .catalog__swiper {
    display: flex;
    width: 100%;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

.catalog__swiper-button-prev {
  width: 42px !important;
  height: 42px !important;
  margin-top: calc(150px - (var(--swiper-navigation-size) / 2)) !important;
  left: 2px !important;
  position: absolute;
  z-index: 15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__swiper-button-prev::before {
  content: url(../icons/arrow-m.svg) !important;
  position: absolute;
}
.catalog__swiper-button-next {
  width: 42px !important;
  height: 42px !important;
  margin-top: calc(150px - (var(--swiper-navigation-size) / 2)) !important;
  right: 2px !important;
  position: absolute;
  z-index: 15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__swiper-button-next::after {
  content: url(../icons/arrow-m2.svg) !important;
  position: absolute;
}
.catalog__btn-bg {
  width: 44px !important;
  height: 44px !important;
}
.catalog__item {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  padding: 10px 10px 30px 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px #c0b7e803;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  border: 0.5px solid #c0b7e8;
}
.catalog__item::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 10px;
  bottom: -10px;
  background: transparent;
  border-radius: 70%;
  transform: scale(0);
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0px 0px 16px 17px rgba(167, 225, 242, 1) inset;
  -moz-box-shadow: 0px 0px 16px 17px rgba(167, 225, 242, 1) inset;
  box-shadow: 0px 0px 16px 17px rgba(167, 225, 242, 1) inset;
}
.catalog__item:hover::before {
  transform: scale(1);
}
.catalog__item:hover .catalog__image img {
  transform: scale(1.1);
}
.catalog__image {
  width: 100%;
  height: 170px;
  border-radius: inherit;
  overflow: hidden;
}
.catalog__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: all 0.2s ease-in-out;
}
.catalog__item h3 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
.catalog__gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 20px 10px;
}
@media screen and (max-width: 1200px) {
  .catalog__gallery {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 960px) {
  .catalog__gallery {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 767px) {
  .catalog__gallery {
    display: none;
  }
}
/*footer*/
.footer {
  width: 100%;
  background: radial-gradient(
    50% 2900.76% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
}
.footer__wrapper {
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-top: 0.5px solid #8176af;
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    padding: 30px 0 50px 0;
    flex-direction: column;
  }
}

.footer__logo {
  font-size: 30px;
  background: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    font-size: 50px;
  }
}
.footer__nav-support {
  font-size: 20px;
  color: #c0b7e8;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0.5px solid #8176af;
  transition: all 0.2s ease-out;
}
.footer__nav-support:hover {
  opacity: 0.7;
}
.footer__copyright {
  color: #c0b7e8;
  align-self: flex-end;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    align-self: center;
    order: 3;
  }
}
/*up-button*/
.up-button {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  right: 50px;
  bottom: 200px;
  cursor: pointer;
}
.up-button p {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  transform: rotate(-90deg);
}
.up-button__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  margin-top: 40px;
}
.up-button__circle::after {
  content: "🠑";
  color: #fff;
  font-size: 30px;
}
